@using EPiServer.Framework.Web.Resources
@using EPiServer.Shell.Navigation
@model CodeArt.Episerver.Health.Models.MainModel

@{
    Layout = "Layout.cshtml";
}


<div class="epi-contentArea">
    <h1 class="EP-prefix">Health Check</h1>
    <p>
        <span class="EP-systemInfo">
            Overview of system health: @Model.TotalChecks checks, @Model.ChecksNotRun has not been run yet.<br/>
            @Model.ChecksNotOK were not ok when last checked, @Model.Errors indicated an error.
        </span>
    </p>
    <a href="@Url.Action("RunAll", "HealthCheck")" class=".epi-button--bold">[Check All]</a>

</div>
<div class="epi-formArea">
    @foreach (var grp in Model.HealthChecks.GroupBy(hc => hc.HealthCheck.Group))
    {
        <h2>@grp.Key</h2>
        <div class="row">
            
            @foreach (var mm in grp.OrderBy(hc => hc.HealthCheck.SortOrder))
            {
                var icon = (mm.LastResult == null) ? "epi-iconHelp" :
                    (mm.LastResult.Status == CodeArt.Episerver.Health.Checks.HealthStatusType.OK) ? "epi-iconSuccess" :
                    (mm.LastResult.Status == CodeArt.Episerver.Health.Checks.HealthStatusType.Warning) ? "epi-iconWarning" :
                    (mm.LastResult.Status == CodeArt.Episerver.Health.Checks.HealthStatusType.Fault) ? "epi-iconError" :
                    (mm.LastResult.Status == CodeArt.Episerver.Health.Checks.HealthStatusType.Performance) ? "epi-iconBell" : "epi-iconHelp";

                <div class="column">
                    <div class="card">
                        <div class="container">
                            <span class="media-list__object  dijitInline dijitReset dijitIcon  epi-icon--colored  @icon"></span>
                            <h4><b>@mm.HealthCheck.Name</b></h4>
                            <p> <a href="@Url.Action("RunCheck", "HealthCheck", new { Name = mm.HealthCheck.FullName })">[Check now]</a></p>
                            @if (mm.LastResult != null)
                            {
                                <span>@mm.LastResult.StatusText</span>
                                <br />
                                <i>Last checked: @(mm.LastResult.CheckTime.ToString())</i>
                                if (mm.LastResult.CanFix)
                                {
                                    <br />
                                    <button>Fix problem</button>
                                }
                            }
                        </div>


                    </div>
                </div>
            }
        </div>
    }


</div>
