@using EPiServer.Framework.Web.Resources
@using EPiServer.Shell.Navigation

@{
    Layout = null;
}

<!DOCTYPE html>

<html style="position:unset">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Health Check</title>
    <link rel="shortcut icon" href="/util/images/favicon.ico" type="image/x-icon" />
    @Html.Raw(ClientResources.RenderResources("Dojo", new[] { ClientResourceType.Style }))
    @Html.Raw(ClientResources.RenderResources("ShellCore", new[] { ClientResourceType.Style }))
    @*@Html.Raw(ClientResources.RenderResources("ShellWidgets"))
        @Html.Raw(ClientResources.RenderResources("ShellCoreLightTheme"))
        @Html.Raw(ClientResources.RenderResources("ShellWidgetsLightTheme"))*@
    @Html.Raw(ClientResources.RenderResources("Navigation"))
    <link href="@Url.Content(EPiServer.Shell.Paths.ToShellClientResource("ClientResources/epi/themes/sleek/sleek1.css"))" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(EPiServer.Shell.Paths.ToShellClientResource("ClientResources/epi/themes/sleek/sleek2.css"))" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(EPiServer.Shell.Paths.ToShellClientResource("ClientResources/epi/themes/sleek/document.css"))" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(EPiServer.Shell.Paths.ToShellClientResource("ClientResources/lib/dgrid/css/dgrid.css"))" rel="stylesheet" type="text/css" />


    @Html.Raw(ClientResources.RenderResources("DojoDashboardCompatibility", new[] { ClientResourceType.Style }))

    @RenderSection("Header", false)

<style type="text/css">
       * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
        transition: 0.3s;
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
    }
 

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    /* Add some padding inside the card container */
    .container {
        padding: 2px 16px;
    }

/* Responsive columns - one column layout (vertical) on small screens */
@@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

</style>
</head>
<body class="Sleek" style="position:unset!important">
    @*@Html.Raw(Html.ShellInitializationScript())*@
    @Html.Raw(Html.CreatePlatformNavigationMenu())
    <div id="epi-application" @Html.Raw(Html.ApplyPlatformNavigation())>
        <div class="epi-padding">
            <div class="epi-contentArea">
                <div id="FullRegion_ValidationSummary" class="EP-validationSummary" style="color:Black;display:none;">

                </div>
            </div>
            <div class="epi-contentContainer epi-fullWidth" style="max-width:unset;">
                @RenderBody()
            </div>
        </div>
    </div>

</body>
</html>
